<p id="notice"><%= notice %></p>

<p>
  <strong>Requestor:</strong>
  <%= @leave_request.requestor %>
</p>

<p>
  <strong>Date:</strong>
  <%= @leave_request.date %>
</p>

<p>
  <strong>Leave type:</strong>
  <%= @leave_request.leave_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @leave_request.status %>
</p>

<%= link_to 'Edit', edit_leave_request_path(@leave_request) %> |
<%= link_to 'Back', leave_requests_path %>
