<!DOCTYPE html>
<html>
<head>
  <title>I need a leave</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "fullcalendar", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "fullcalendar.print", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "jquery-ui-themes/themes/cupertino/jquery-ui.min.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <%=
      if current_user then
        raw("You have logged in as: " + current_user.email + ", " + link_to("logout",logout_path))
      else
        link_to("login", new_session_path)
      end
  %>
</div>
<%= yield %>

</body>
</html>
